// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: auto;
  padding-left:  0.1rem;
  padding-right: 0.1rem;
  margin-left:  0.1rem;
  margin-right: 0.1rem;
}

footer {
  margin-bottom: 2rem;
}
