// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: auto;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  0.75em;
  margin-right: 0.75em;
}

footer {
  margin-bottom: 2rem;
}
