// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 100rem;
  padding-left:  0.2rem;
  padding-right: 0.2rem;
  margin-left:  0.3rem;
  margin-right: 0.3rem;
}

footer {
  margin-bottom: 2rem;
}
